<h1>List of Students</h1>

<table>
  <thead>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr ng-repeat="student in students">
      <td>{{student.id}}</td>
      <td>{{student.firstName}}</td>
      <td>{{student.lastName}}</td>
      <td>
        <button ng-click="detailStudent(student.id)">Detail</button>
        <button ng-click="deleteStudent(student.id)">Delete</button>
        <button ng-click="addStudentForm()">Add</button>
      </td>
    </tr>
  </tbody>
</table>
<br><br>
<button ng-click="reload()">Reload</button>