<html lang="en" ng-app='myModule' ng-controller='myEmployee'>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='./scripts/angularjs.js'> </script>
  <script src='./scripts/script.js'></script>
  <script src='./scripts/filter.js'></script>
  <link rel="stylesheet" href="styles/site.css">
  <title>{{title}}</title>
</head>
<body>
  <h1>{{title}}</h1>
  <a href="./index.html">Go To Index</a> &nbsp; &nbsp; 
  <a href="./filterExample.html">Go To Filter Example</a>
  <br>
  <br>
  <label for="search">Search firstname:</label>
  <input style="width:300px" name="search" type="text" placeholder="Enter firstname" ng-model="searchText.firstname">
  Exact Match?:<input type="checkbox" ng-model="exactMatch">
  <br>
  <br>
  Hide Gender?: <input type="checkbox" ng-model="hideGender">
  Show Registration?: <input type="checkbox" ng-model="showRegistration">
  <br>
  <br>
  <h4>List of Employees</h4>
    <table>
      <thead>
        <tr>
          <th>S.N.</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Gender</th>
          <th ng-show="showRegistration">Registration</th>
          <th>Register</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='employee in employees | filter:searchText:exactMatch' ng-init='sn=$index+1'>
          <td>{{sn}}</td>
          <td>{{employee.firstname}}</td>
          <td>{{employee.lastname}}</td>
          <td ng-hide="hideGender">{{employee.gender}}</td>
          <td ng-hide="!hideGender">xxxxxx</td>
          <td ng-show="showRegistration">{{employee.registration}}</td>
          <td><button ng-click='register(employee)'>Change Registeration</button></td>
        </tr>
      </tbody>
    </table>
</body>
</html>