<h1>Filter & Sorting Example</h1>
<a href="./index.html">Go To Index</a> &nbsp; &nbsp;
<a href="./employee.html">Go To Employee</a>
<br>
<br>
<input style="width:300px" type="text" placeholder="Filter by name or gender" ng-model="searchText">
<br>
<br>
Number Of Rows:<input type="number" step='1' min="0" max="3" ng-model="numberOfRows">
<label>Order by:</label>
<select ng-model="sortColumn">
  <option value="+salary">Asc Salary</option>
  <option value="-salary">Desc Salary</option>
  <option value="+name">Asc Name</option>
  <option value="-name">Desc Name</option>
</select>
<br>
<br>
<table>
  <thead ng-if="numberOfRows > 0" class="pointer-cursor">
    <th ng-click="executeSortColumn('name')">Name <div
        ng-class="[sortColumn == 'name' && sortColumnOrder == '+'  ? 'up-arrow' : sortColumn == 'name' && sortColumnOrder == '-'? 'down-arrow' : '']">
      </div>
    </th>
    <th ng-click="executeSortColumn('dateOfBirth')">Date Of Birth <div
        ng-class="[sortColumn == 'dateOfBirth' && sortColumnOrder == '+'  ? 'up-arrow' : sortColumn == 'dateOfBirth' && sortColumnOrder == '-'? 'down-arrow' : '']">
      </div>
    </th>
    <th ng-click="executeSortColumn('gender')">Gender <div
        ng-class="[sortColumn == 'gender' && sortColumnOrder == '+'  ? 'up-arrow' : sortColumn == 'gender' && sortColumnOrder == '-'? 'down-arrow' : '']">
    </th>
    <th ng-click="executeSortColumn('salary')">Original Value <div
        ng-class="[sortColumn == 'salary' && sortColumnOrder == '+'  ? 'up-arrow' : sortColumn == 'salary' && sortColumnOrder == '-'? 'down-arrow' : '']">
    </th>
    <th ng-click="executeSortColumn('salary')">Quantity <div
        ng-class="[sortColumn == 'salary' && sortColumnOrder == '+'  ? 'up-arrow' : sortColumn == 'salary' && sortColumnOrder == '-'? 'down-arrow' : '']">
    </th>
    <th ng-click="executeSortColumn('salary')">Salary <div
        ng-class="[sortColumn == 'salary' && sortColumnOrder == '+'  ? 'up-arrow' : sortColumn == 'salary' && sortColumnOrder == '-'? 'down-arrow' : '']">
    </th>
    <th ng-click="executeSortColumn('salary')">Number <div
        ng-class="[sortColumn == 'salary' && sortColumnOrder == '+'  ? 'up-arrow' : sortColumn == 'salary' && sortColumnOrder == '-'? 'down-arrow' : '']">
    </th>
  </thead>
  <tbody>
    <tr
      ng-repeat='employee in employees | filter:searchByNameOrGender | limitTo:numberOfRows | orderBy:sortColumnOrder + sortColumn'>
      <td>{{employee.name}}</td>
      <td>{{employee.dateOfBirth | date: "MMMM/dd/yyyy"}}</td>
      <td>{{employee.gender}}</td>
      <td>{{employee.salary}}</td>
      <td>{{employee.salary | salary}}</td>
      <td>{{employee.salary | currency: "$": 1}}</td>
      <td>{{employee.salary | number: 2}}</td>
    </tr>
  </tbody>
</table>