<h1>{{title}}</h1>
<a href="./employee.html">Go To Employee</a> &nbsp;&nbsp;&nbsp;
<a href="./filterSortingExample.html">Go To Filter & Sorting Example</a>
<br>
<br>
<label for=''>Name:</label>
<input type='text' ng-model='employee.firstname' placeholder='Enter a name here'>
<h1>Hello {{firstname}}</h1>
<div>10+20 = {{10+20}}</div>
<div>{{ 1 === 1}}</div>
<div> {{ {name: 'David', age: '25'}.name}} </div>
<div>{{['David', 'Sunny', 'Patric'][2]}}</div>
<div>Lastname: {{ employee.lastname }} | Firstname: {{employee.firstname}} | Gender: {{employee.gender}}</div>
<br>
<br>
<div>
  <div>{{country.name}}</div>
  <div>{{country.capital}}</div>
  <img ng-src='{{country.flag}}' style='height: 100px; width:200px;' alt='{{country.flag + ' flag'}}' />
</div>