  <h1 id="top">{{title}}</h1> 
  <button ng-click="scrollTo('bottom')">Go to the bottom of the page</button>
  <br>
  <br>
  <label for="search">Search firstname:</label>
  <input style="width:300px" name="search" type="text" placeholder="Enter firstname" ng-model="searchText.firstname">
  Exact Match?:<input type="checkbox" ng-model="exactMatch">
  <br>
  <br>
  Hide Gender?: <input type="checkbox" ng-model="hideGender">
  Show Registration?: <input type="checkbox" ng-model="showRegistration">
  <br>
  <br>
  <h4>List of Employees</h4>
  <table>
    <thead>
      <tr>
        <th>S.N.</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Gender</th>
        <th ng-show="showRegistration">Registration</th>
        <th>Register</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='employee in employees | filter:searchText:exactMatch' ng-init='sn=$index+1'>
        <td>{{sn}}</td>
        <td>{{employee.firstname}}</td>
        <td>{{employee.lastname}}</td>
        <td ng-hide="hideGender">{{employee.gender}}</td>
        <td ng-hide="!hideGender">xxxxxx</td>
        <td ng-show="showRegistration">{{employee.registration}}</td>
        <td><button ng-click='register(employee)'>Change Registeration</button></td>
      </tr>
    </tbody>
  </table>
  <br>
  <h2>Say Hello Service</h2>
  <div>{{sayHello('Jack')}}</div>
  <br>
  <h2>ng-init Example:</h2>
  <input type="text" ng-init="x='Hello There'" value={{x}}>
  <button ng-click="popUp(x)">Click me</button>
  <br>
  <br>
  <h2>ng-include Example:</h2>
  <div ng-include="'src/common/name.html'"></div>
  <h2>Http GET Service Example</h2>
  <div>{{error}}</div>
  <table>
    <thead>
      <th>Album ID</th>
        <th>ID</th>
        <th>Title</th>
        <th>Thumbnail URL</th>
    </thead>
    <tbody>
      <tr ng-repeat="photo in photos | limitTo: 3">
        <td>{{photo.albumId}}</td>
        <td>{{photo.id}}</td>
        <td>{{photo.title}}</td>
        <td><img ng-src={{photo.thumbnailUrl}} alt=""> </td>
      </tr>
    </tbody>
  </table>

  <h2>ng-if example</h2>
  <label>Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true"> </label>
  Show when checked:
  <span ng-if="checked">This is removed when the checkbox is unchecked.</span>
  <br>
  <br>
  <p id="bottom">This is the bottom of the page. <button ng-click="scrollTo('top')">Go to the top of the page</button></p>
